@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.message {
    display: flex;
    margin-bottom: 5px;
    justify-content: flex-end;
    
  
  }
  
  .message p {
    
    padding: 20px;
    font-size: 16px;
    border:2px solid #ccc;
    border-radius: 40px;
  
    
    background-color: white;
    max-width: 100%;
    word-wrap: break-word;
    text-align: left;
    color: #323232;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
  }


  .robotHolder{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 5.769px;
    margin-left: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: blue;
    

  }
  /* Style text within each message */
  .chatWindow {
    width:363px;
    display: inline-flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border:2px solid #d9d9d9;
    background: #FFFFFF !important;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    margin-top: 10px;
    
  }

  .chatWindow.blurred{
    opacity:0.5;
  }

  .chatTextHolder{
    margin-top: 23px;
    margin-left: 10px;

    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    color: #323232;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; /* 143.75% */
   

  }

  .chatTimeHolder{
    margin-top: 23px;
    margin-left: 150px;

    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    color: gray;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; /* 143.75% */


  }

  .chatBoxTop{
    display: flex;
    width: 362px;
    
    align-items: center;
    


  }
