* {
    margin: 0;
    padding: 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: white;
    box-shadow: 0, 0, 18px, 0, rgba(0, 0, 0, 0.85);
    border-radius: 14px;
    margin: auto;
}

.modal-contents{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-contents form div {
    margin-bottom: 10px; /* Space out form elements */
}

.modal-contents form input,
.modal-contents form label {
    width: 100%; /* Full width inputs and labels */
    display: block;
}

.modal-contents form button {
    margin-top: 10px; /* Space above the button */
}

.additional-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px; /* Spacing above the buttons */
}

.additional-options button {
    background-color: #f0f0f0; /* Light background for buttons */
    border: 1px solid #d0d0d0; /* Border for buttons */
    padding: 5px 10px; /* Padding for buttons */
    cursor: pointer; /* Cursor change on hover */
}

.additional-options button:hover {
    background-color: #e0e0e0; /* Slightly darker on hover */
}
