@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;  /* White text color */
  --background-start-rgb: 0, 0, 0;  /* Starting from pure black */
  --background-end-rgb: 255, 255, 255;  /* Transitioning to pure white */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      30deg, 
      rgb(var(--background-start-rgb)) 80%, 
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh; /* Ensures that the body fills the entire viewport to display the full gradient */
}

